
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
*  {
     margin:  0;
     padding:  0;
 }

body {
	background-image: url(../images/london_skyscraper.jpg);
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 200px;
	font-weight: bold;
}



#wrapper  {
     width: 100%;
     height: 100%;
     margin:  auto;
     position: relative;
 }


#top {
	
	width: 100%;
	height: 200px;
	
	display: inline-block;
}

#navbar, #main {
	float:left;
	display: inline-block;
	opacity: 0.5;
    filter: alpha(opacity=200);

}

#navbar {
	
	width: 15%;
	height: 100%;
	margin: 10px auto;
	margin: 10px;
	padding-top: 164px;
	padding-bottom: 164px;
	background-color: grey;
}

#navbar ul {

	padding:0px;
	margin:0px;
	font-style:  italic;
    font-weight:  bold;
    font-size:  30px;



}

#navbar li {
	list-style-type: none;
	border: 0px solid black;
	text-align: center;
	color: black;

}

#navbar a {
	text-decoration: none
	}



#main {
	width: 78.75%;
	height: 100%;
	margin: 10px auto; 
	padding-top: 60px;
	padding-bottom: 70px;
	background-color: grey;
	align-self: center;

}

#main p {
	font-size: 20px;
    color:  black;
    text-align: center;
}



#bottom {
	width: 95%;
	height:100%;
	margin: 10px;
	
	background-color: grey;
	align-self: center;
	opacity: 0.5;
    filter: alpha(opacity=200);

}

.clear {
	clear: both;
}


/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



#bottom #services {
  text-align: center;
  transform: translatez(0);
}

#bottom #services li {
  width: 120px;
  height: 120px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}

#bottom #services li a {
	text-decoration: none;
}

#bottom #services li div {
  width: 100px;
  height: 80px;
  color: black;
  font-size: 3.4em;
  text-align: center;
  line-height: 80px;
  background-color: #fff;
  transition: all 0.5s ease;
}
#bottom #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
#bottom #services li span {
  width: 80px;
  height: 15px;
  display: block;
  padding: 15px 0px;
  color: black;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}





